<div class="container" ng-controller="createJobCtrl">

      <div class="row toprow">
		  <h2 class="col-sm-10">Job</h2>  
	      <a href="" class="col-sm-2 martop30 txtright" ng-click="viewJob()"><i class="fa fa-plus-square" aria-hidden="true"></i> New Job</a>
	  </div>
     
     <div class="row toprow">
     	<div class="alert alert-success alert-dismissable" ng-if="sucessMsg">
		    <a href="" class="close" data-dismiss="alert" aria-label="close">x</a>
		    {{sucessMsg}}
		</div>
		<div class="alert alert-danger alert-dismissable" ng-if="errorMsg">
		    <a href="" class="close" data-dismiss="alert" aria-label="close">x</a>
		    {{errorMsg}}
		</div>
     </div>
     
      <div class="panel panel-default">
        <div class="panel-heading">Search Job 
          <button class="btn btn-box-right collapsed" data-toggle="collapse" href="#demo" >
              <i class=" fa fa-expand"></i>
          </button>
        </div>
         <div id="demo" class="collapse in">
          <div class="panel-body">
            <form name="JobForm">
              <div class="form-group">
                <label for="jobDetail">Job Name:</label>
                <input type="text" autocomplete="off" class="form-control" autocomplete="off" ng-model="jobName" placeholder="Job Name" name="jobDetail">
              </div>
              
              <button type="submit" ng-click="searchJob(jobName)" class="btn btn-default">Search</button>
              <button type="reset" ng-click="reset()" class="btn btn-default">Reset</button>
            </form>
          </div>
        </div>
      </div> <!-- /Search Criteria -->

       <div class="panel panel-default">
        <div class="panel-heading">Search Results
          <button class="btn btn-box-right collapsed" data-toggle="collapse" href="#demo2" >
              <i class=" fa fa-expand"></i>
          </button>
        </div>
         <div id="demo2" class="collapse in">
          <div class="panel-body" id="no-more-tables">

            <table class="table-bordered table-striped table-condensed cf results">
              <thead class="cf">
                <tr>
                  <th>Job Name</th>
                  <th>Job Description</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="x in jobDataResponse">
                  <td class="{{x.jobid}}name" data-title="Job Name">{{x.jobName}}</td>
                  <td class="{{x.jobid}}jobDesciption" data-title="Job Description">{{x.jobdesc}}</td>
                   <td> <span>
                      <i style="margin-right:5px;cursor:pointer;"  title="Edit" class="fa fa-pencil-square-o" aria-hidden="true" ng-click="open(x.jobid,x.jobName,x.jobdesc)"></i>
                      <i  style="cursor:pointer;" title="Delete" id="{{x.jobid}}" class="fa fa-times" aria-hidden="true" ng-click="deleteJob(x.jobid,x.jobName)"></i>
                    </span>
                  </td>
                </tr>
               
              </tbody>
            </table>
                        

          </div>
        </div>
      </div><!-- /Search Results -->



</div> <!-- /container /JobCtrl -->

